<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:registry protocol="zookeeper" address="47.93.230.61:2181"/>

    <!-- 注册中心服务地址 -->
    <dubbo:protocol  name="dubbo" port="-1"/>

    <bean id="erpTaskInfoResource" class="resourceImpl.ErpTaskInfoResourceImpl"/>
    <dubbo:service interface="com.xsl.task.ErpTaskInfoResource" ref="erpTaskInfoResource" timeout="600000"/>

    <bean id="taskInfoResource" class="resourceImpl.TaskInfoResourceImpl"/>
    <dubbo:service interface="com.xsl.task.TaskInfoResource" ref="taskInfoResource" timeout="600000"/>

    <bean id="taskApproveResource" class="resourceImpl.TaskApproveResourceImpl"/>
    <dubbo:service interface="com.xsl.task.TaskApproveResource" ref="taskApproveResource" timeout="600000"/>
    <bean id="taskOperateResource" class="resourceImpl.TaskOperateResourceImpl"/>
    <dubbo:service interface="com.xsl.task.TaskOperateResource" ref="taskOperateResource" timeout="600000"/>

    <bean id="OrderInfoResource" class="resourceImpl.OrderInfoResourceImpl"/>
    <dubbo:service interface="com.xsl.task.OrderInfoResource" ref="OrderInfoResource" timeout="600000"/>

    <bean id="tagResource" class="resourceImpl.TagResourceImpl"/>
    <dubbo:service interface="com.xsl.task.TagResource" ref="tagResource" timeout="600000"/>

</beans>